.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-layout {
  display: flex;
  max-width: 1400px;
  margin: 50px auto;
  border: 1px solid red;
  justify-content: space-between;
}

.product-list {
  flex: 2 0 0;
  border: 1px solid blue;
}

.product-list__header,
.cart__header {
  background: #def1f4;
  text-align: left;
  padding: 10px;
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-list__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 20px;
}

.product-list__item {
  border: 4px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.cart {
  flex: 1 0 0;
  border: 1px solid blue;
}

.cart__body {
  font-weight: bold;
  padding: 30px;
  text-align: left;
  line-height: 1.3;
}
.cart-group {
  margin-bottom: 30px;
}

.cart-row {
  display: flex;
}

.cart-row span:first-child {
  width: 80px;
  font-weight: normal;
}
